{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="text-center">
        <h3>Fulfilling My</h3>
        <h1>Duty To God</h1>
        <h4>For Aaronic Priesthood Holders</h4>
        <hr>
        <div class="well">
            <p>
                <a href="/profile/login/" class="btn btn-raised btn-primary">Log In</a>
            </p>
            <p>
                <a href="/profile/create/" class="btn btn-raised btn-primary">Create Account</a>
            </p>
            <hr>
            <p>Complete activities, track your progress, and notify others of completed activites automatically with this app from DutyToGodApp.org.</p>
        </div>
    </div>



</div>

{% endblock %}
