{% load staticfiles %}
<html>
<head>
<title>{% block title %}Duty To God App{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon" href="{% static "styles/img/d2g-60x60.png" %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static "styles/img/d2g-76x76.png" %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static "styles/img/d2g-120x120.png" %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static "styles/img/d2g-152x152.png" %}">
<link rel="manifest" href="{% static "styles/img/manifest.json" %}">

<!-- Material Design fonts -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">


<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Bootstrap Material Design -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.material-design/0.5.9/css/bootstrap-material-design.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.material-design/0.5.9/css/ripples.min.css">
<link rel="stylesheet" type="text/css" href="{% static "styles/style.css" %}">
<script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
{% block extrascripts %}{% endblock %}


</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="page-header">
                <h1>Duty To God App</h1>
            </div> -->
            <div class="navbar navbar-default" style="margin-left:-15px; margin-right: -15px;">
                <div class="container-fuild">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'assignment_list' %}">Duty To God App</a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                           {% if request.session.profile %}
                           <li><a href="javascript:void(0)"><i>Welcome, {{ request.session.profile }}</i></a></li>
                           <li><a href="{% url 'assignment_list' %}"><i class="material-icons">directions_walk</i> Activities</a></li>
                           <li><a href="{% url 'leader_report' %}"><i class="material-icons">playlist_add_check</i> Leader Report</a></li>
                           <li><a href="{% url 'profile_detail' %}"><i class="material-icons">account_box</i> Profile Settings</a></li>
                           <li><a href="{% url 'profile_logout' %}"><i class="material-icons">power_settings_new</i> Log out</a></li> 
                           {% else %}
                           <li><a href="{% url 'profile_login' %}"><i class="material-icons">add</i> Log in</a></li> 
                           <li><a href="{% url 'profile_create' %}"><i class="material-icons">account_box</i> Register</a></li> 
                           {% endif %}    

                        </ul>
                    </div>
                </div>
            </div>




            <div class="row">
            <div class="col-md-12">
                {% block messages %}
                 {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-{% if message.tags == "error"%}danger{% else %}success{% endif %}"><p>{{ message|safe }}</p></div>
                      {% endfor %}
                  {% endif %}
                {% endblock %}
{% block content %}
blah blah blah
{% endblock %}
            </div>
            </div>
        </div>
    </div>
        <hr>
    <div class="row text-center">
        <p id="disclaimer">Copyright &copy; {% now "Y" %}. Disclaimer: This app is not affiliated with The Church of Jesus Christ of Latter-day Saints.</p>
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap.material-design/0.5.9/js/ripples.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap.material-design/0.5.9/js/material.min.js"></script>
<script>
  $(function () {
    $.material.init();
  });
</script>
{% block footerscripts %}
{% endblock %}
</body>
</html>
