{% extends 'base.html' %}
{% load workbook_tags %}

{% block content %}
<div class="well">
{% regroup assignment_list by office as assignments %}

{% for office in assignments %}
<h1>
    {% if office.grouper == 'd' %}
    Deacon Activities
    {% elif office.grouper == 't' %}
    Teacher Activities
    {% elif office.grouper == 'z' %}
    Priest Activities
    {% endif %}
</h1>
    <div class="row">
        <div class="col-xs-9">
            <p class="lead">Activity</p>
        </div>
        <div class="col-xs-2 text-center">
            <p class="lead">Complete?</p>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
        {% for assignment in office.list %}
            {% if assignment in profile_assignment_completed %}
            <div class="row  activity-row activity-success">
                <div class="col-xs-9">
                    {% if assignment.review %}
                    <a href="#">{{ assignment.title }}</a>
                    {% else %}
                    <a href="{% url 'assignment_update' assignment.id %}">{{ assignment.title }}</a>
                    {% endif %}
                </div>
                <div class="col-xs-2 text-center">
                    <i class="material-icons">assignment_turned_in</i>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            {% else %}
            <div class="row activity-row activity-{{ assignment.section }}">
                <div class="col-xs-9">
                    {% if assignment.review %}
                    <a href="{% url 'review_create' assignment.id %}">{{ assignment.title }}</a>
                    {% else %}
                    <a href="{% url 'assignment_create' assignment.id %}">{{ assignment.title }}</a>
                    {% endif %}
                </div>
                <div class="col-xs-2">
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            {% endif %}
            </tr>
        {% empty %}
          There are no activities defined yet.
        {% endfor %}
        </tbody>
    </table>
{% endfor %}
</div>
{% endblock %}
