{% extends 'base.html' %}

{% block title %}{{ profile.full_name }}'s Progress Record{% endblock %}

{% block content %}
<h1>Progress Report for {{ profile.full_name }}</h1>
<div class="well">

    {% for pr in profile.personprogress_set.all %}
    <h3>{{ pr.assignment }} ({{ pr.assignment.get_section_display }} / {{ pr.assignment.get_office_display }})</h3>
        {% if pr.assignment.review == False %}
            {% if pr.shared_with %}
            <i>Completed on {{ pr.date_completed }}</i>
            {% else %}
            <i>Incomplete</i>
            {% endif %}
        {% else %}
            {% if pr.reviewed_by %}
            <i>Completed on {{ pr.review_completed }}</i>
            {% else %}
            <i>Incomplete</i>
            {% endif %}
        {% endif %}
        <br>
        <br>
    {% if pr.assignment.review %}
        <div class="well">
            {% if not pr.reviewed_by %}
            <form method="POST" action="{% url 'sign_personprogress' pr.id %}" class="sign-activity">
                {% csrf_token %}
                <button type="submit" class="btn btn-raised btn-primary">Sign this review section</button>
            </form>
            {% else %}
            <p><b>Review Completed</b> by {{ pr.reviewed_by }} at {{ pr.review_completed }}</p>
            {% endif %}
        </div>
    {% else %}
        <div class="well">
        {% if pr.act1 %}
            <p><b>Act: {{ pr.assignment.act1|safe }}</b></p>
            <p><i>Response: </i>{{ pr.act1 }}</p>
        {% endif %}

        {% if pr.act2 %}
        <p><b>Act: {{ pr.assignment.act2|safe }}</b></p>
        <p><i>Response: </i>{{ pr.act2 }}</p>
        {% endif %}


        {% if pr.act3 %}
        <p><b>Act: {{ pr.assignment.act3|safe }}</b></p>
        <p><i>Response: </i>{{ pr.act3 }}</p>
        {% endif %}

        {% if pr.share %}
        <p><b>Share: {{ pr.assignment.share|safe }}</b></p>
        <p><i>Response: </i>{{ pr.share }}</p>
        {% endif %}

        {% if pr.shared_with %}
        <p><i>Shared with: </i>{{ pr.shared_with }}</p>
        {% else %}
        <p>This young man has not yet recorded that he has shared this activity with anyone.</p>
        {% endif %}
        </div>

        {% if not forloop.last %}
        <hr>
        {% endif %}
    {% endif %}
    {% empty %}
        <i>No progress records for this individual have been found.</i>
    {% endfor %}

    <a href="{% url 'leader_report' %}" class="btn btn-raised btn-primary">Back To Reports</a>

</div>
{% endblock %}

{% block footerscripts %}
<script>
$('.sign-activity').submit(function (e) {
    e.preventDefault();
    var myform = $(this);

    $.ajax({
        type: 'post',
        url: $(this).attr('action'),
        success: function() {
                $(":button", myform).prop("disabled", true).html('Signed Successfully!');
            },
        data: $(this).serialize(),
        error: function() {},
    });

});
</script>
{% endblock %}
