{% extends 'base.html' %}
{% load workbook_tags %}

{% block title %}Leader Report View{% endblock %}

{% block content %}

<h1>Progress Report</h1>

<div class="well">

{% if  reporting_profile_list|length %}
    <div style="min-height: 150px">
    <!-- give room -->
    </div>
<table class="table">
    <!-- Fill out the table heading -->
<tr>
    <th style="border-top-width: 0px">Name</th>
    <th style="border-top-width: 0px">Office</th>
    {% for assignment in assignment_list %}
    <th class="rotate assignment-{{assignment.section}}" style="border-top-width: 0px"><div><span>{{ assignment }}</span></div></th>
    {% endfor %}
</tr>

{% for profile in reporting_profile_list %}
<tr>
    <td><a href="{% url 'leader_detail' profile.id %}">{{ profile.last_name }}, {{ profile.first_name }}</a></td>
    <td>{{ profile.get_office_display }}</td>
    {% assignments_completed profile as assignments_completed_list %}
    {% for assignment in assignment_list %}
        <td>
        {% if assignment in assignments_completed_list %}
        X 
        {% else %}
        -
        {% endif %}
        </td>
    {% endfor %}
</tr>

{% endfor %}
</table>

{% else %}
<h3>Nothing Here</h3>
    <p>It appears no individual has you in their noticiation list. There is nothing to report.</p>
    <p>You can ask others to add your phone number to their notification list under their Profile Settings.</p>

{% endif %}

</div>

{% endblock %}
