{% extends 'base.html' %}

{% block title %}View Your Profile{% endblock %}


{% block content %}
<h1>Your Profile Settings</h1>
<div class="well">
<table class="table">
    <tr>
        <td>Name</td>
        <td>{{ profile.first_name }} {{ profile.last_name }}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>{{ profile.phone }}</td>
    </tr>
    <tr>
        <td>Receive text messages?</td>
        <td>{% if profile.receive_text_messages %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
        <td>Office</td>
        <td>{{ profile.get_office_display }}</td>
    </tr>
    <tr>
        <td>Ward / Branch</td>
        <td>{{ profile.unit.ward }}</td>
    </tr>
</table>

<h3>Notification List</h3>
<p>Tap the <a href="{% url 'profile_update' %}">Update Profile</a> button to add or remove people from automatically receiving notifications when you complete an activity.</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
    </tr>
{% for person in profile.profilenotify_set.all %}
    <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.phone }}</td>
    </tr>
{% empty %}
<tr>
    <td colspan="2">
        <p>You don't have any people set to receive a notification for completed assignments. <a href="{% url 'profile_update' %}">Add someone now.</a></p>
    </td>
</tr>
{% endfor %}
</table>

<a href="{% url 'profile_update' %}" class="btn btn-raised btn-primary">Update Profile</a>
</div>
{% endblock %}
