{% extends 'base.html' %}

{% block footerscripts %}
<script>
$('#id_phone').keyup(function () {
    //to allow decimals,use/[^0-9\.]/g 
    var regex = new RegExp(/[^0-9]/g);
    var containsNonNumeric = this.value.match(regex);
    if (containsNonNumeric)
        this.value = this.value.replace(regex, '');
});

 $('#login-form input').addClass( "form-control" );
 $('#login-form label').addClass( "control-label" );
</script>
{% endblock %}

{% block content %}
<h1>Log In</h1>
<div class="well">
<form action="." method="post" id="login-form" class="form-horizontal">
{% csrf_token %}
<table class="table">
    {{ form }}
</table>
    <button type="submit" class="btn btn-raised btn-primary">Log In</button>
    <a href=/profile/create/" class="btn btn-raised btn-primary">Create Account</a>
</form>
</div>
{% endblock %}
